* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Inkludiert Padding in Elementgröße */
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem 0;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 2rem 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}